/* .dash-row {
  min-height: 250px;
} */

.dash-col-reg {
  padding: 10px;
  height: 250px;
}

.dash-col-big {
  padding: 10px;
  height: 500px;
}

.dash-col-com {
  padding: 10px;
  height: 750px;
}

.component-header {
  font-size: 1.3em;
}

.gen-grid {
  display: grid;
  position: relative;
  grid-template: 1fr 1fr / 1fr;
  height: 100%;
}

.gen-r1 {
  display: flex;
  position: relative;
  grid-row: 1 / span 1;
}

.gen-r2 {
  display: grid;
  position: relative;
  grid-template: 1fr / 1fr 1fr;
}

.gen-r2c1 {
  grid-template: 1fr 1fr / 1fr;
  position: relative;
  display: grid;
  height: 100%;
}

.gen-r2c1r1 {
  grid-row: 1 / span 1;
  position: relative;
  display: flex;
}

.gen-r2c1r2 {
  grid-row: 2 / span 1;
  position: relative;
  display: flex;
}

.gen-r2c2 {
  grid-column-end: 2 / span 1;
  position: relative;
  display: flex;
}

.gen-grid-2 {
  display: grid;
  position: relative;
  grid-template: 1fr / 1fr 1fr 1fr;
  height: 100%;
}

.gen-3r {
  display: grid;
  position: relative;
  grid-template: .4fr .1fr 1fr 2fr 4.3fr / 1fr;
  height: 100%;
}

.gen-3r-r1 {
  grid-row: 1 / span 1;
  position: relative;
  display: flex;
}

.gen-3r-r2 {
  grid-row: 2 / span 1;
  position: relative;
  display: flex;
}

.gen-3r-r3 {
  grid-row: 3 / span 1;
  position: relative;
  display: flex;
}
.gen-3r-r4 {
  grid-row: 4 / span 1;
  position: relative;
  display: flex;
}
.gen-3r-r5 {
  grid-row: 5 / span 1;
  position: relative;
  display: flex;
}

.gen-s-r{
  display: grid;
  position: relative;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;
  height: 100%;
}

.gen-s-r1 {
  grid-row: 1 / span 1;
  position: relative;
  display: flex;
}

.gen-s-r2 {
  grid-row: 2 / span 1;
  position: relative;
  display: flex;
}

.gen-s-r3 {
  grid-row: 3 / span 1;
  position: relative;
  display: flex;
}
.gen-s-r4 {
  grid-row: 4 / span 1;
  position: relative;
  display: flex;
}

.svu-grid {
  display: grid;
  position: relative;
  grid-template: 3fr 1fr / 1fr;
  height: 100%;
}

.svu-grid-2 {
  display: grid;
  position: relative;
  grid-template: 1fr 1fr / 1fr 1fr;
  height: 100%;
}

.svu-r1 {
  display: grid;
  position: relative;
  grid-row:  1 / span 1;
}

.svu-r1-2 {
  display: grid;
  position: relative;
  grid-row:  1 / span 1;
  grid-column:  1 / span 2;
}

.svu-r2 {
  display: grid;
  position: relative;
  grid-row: 2 / span 1;
}

.svu-r2-h25 {
  display: grid;
  position: relative;
  grid-row: 2 / span 1;
}

.ct-grid-center {
  display: grid;
  position: relative;
  grid-template: 1.15fr 1.85fr 2fr / 1fr;
  height: 100%;
}

.ct-center-r1 {
  display: grid;
  position: relative;
  grid-template: 1fr 1.5fr / 1fr 1fr 1fr;
}

.ct-center-r1r1{
  display: grid;
  position: relative;
  grid-template: 1fr / 1fr 1fr 1fr;
}
.ct-center-r1c1 {
  display: flex;
  position: relative;
  grid-column: 1 / span 1;
}

.ct-center-r1c2 {
  display: flex;
  position: relative;
  grid-column: 2 / span 1;
}

.ct-center-r1c3 {
  display: flex;
  position: relative;
  grid-column: 3 / span 1;
}

.ct-center-r2 {
  display: grid;
  position: relative;
  grid-template: 1fr / 1fr 1fr;
}

.ct-center-r2c1 {
  display: flex;
  position: relative;
  grid-column: 1 / span 1;
}

.ct-center-r2c2 {
  display: flex;
  position: relative;
  grid-column: 2 / span 1;
}

.ct-center-r3 {
  display: flex;
  position: relative;
  grid-column: 1 / span 1;
}

.ct-grid-side {
  display: grid;
  position: relative;
  grid-template: .6fr 1fr 100px 1fr/ 1fr;
  height: 100%;
}
.ct-grid-side-left {
  display: grid;
  position: relative;
  grid-template: 1.5fr 1fr/ 1fr;
  height: 100%;
}

.ct-side-r1 {
  display: flex;
  position: relative;
  grid-row: 1 / span 1;
}

.ct-side-r1-grid {
  display: grid;
  position: relative;
  grid-template: 1fr 1fr / 1fr;
}

.ct-side-r1r1 {
  display: flex;
  position: relative;
  grid-row: 1 / span 1;
}

.ct-side-r1r2 {
  display: flex;
  position: relative;
  grid-row: 2 / span 1;
}
.ct-side-r1r3 {
  display: flex;
  position: relative;
  grid-row: 3 / span 1;
}
.ct-side-r1r4 {
  display: flex;
  position: relative;
  grid-row: 4 / span 1;
}
.ct-side-r2 {
  display: flex;
  position: relative;
  grid-row: 2 / span 1;
}

.ct-side-r3 {
  display: flex;
  position: relative;
  grid-row: 3 span 1;
}

.container{
  max-width: 100%;
  
}
