table, th, td {
  border: 1px solid black;
}

.table th, .table td {
  padding: .25rem;
}

.tableContainer {
  padding: 10% 0 10% 0;
}

@media only screen and (max-width: 1440px) {
  table, th, td {
    font-size: 8.8px;
  }
}